html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    flex: 0.5 0 auto;
    background-color: darkslategrey;
}

.main{
    flex: 1 0 auto;
    background-color: cadetblue;
}

footer{
    position: relative;


    margin-top: -50px;


    height: 100px;

    padding:5px 0px;

    clear: both;

    background: black;

    text-align: center;

    color: #fff;

}

